.carousel-fade .carousel-item {
  opacity: 0;
  transition-duration: .3s;
  transition-property: opacity;
 }

 .carousel-fade  .carousel-item.active,
 .carousel-fade  .carousel-item-next.carousel-item-left,
 .carousel-fade  .carousel-item-prev.carousel-item-right {
   opacity: 1;
 }

 .carousel-fade .active.carousel-item-left,
 .carousel-fade  .active.carousel-item-right {
  opacity: 0;
 }

 .carousel-fade  .carousel-item-next,
 .carousel-fade .carousel-item-prev,
 .carousel-fade .carousel-item.active,
 .carousel-fade .active.carousel-item-left,
 .carousel-fade  .active.carousel-item-prev {
  transform: translateX(0);
  transform: translate3d(0, 0, 0);
 }

 .pixer{
  margin-top: 20px;
  min-height: 600px;
  border-radius: 20px;

 }
 h1{
     color: turquoise;
     font-weight: 500px;
     text-align: center;
     font-size: 40px;
     margin-top: 70px;
     font-family:Verdana, Geneva, Tahoma, sans-serif;
 }
 h2{
  color: rgb(21, 232, 255);
  font-weight: 300px;

  font-size: 40px;
  margin-top: 0px;
  margin-bottom: 20px;
  font-family:Verdana, Geneva, Tahoma, sans-serif
 }
 span{
     font-style: italic;
 }
 .text{
      font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
      margin-top: 22px;
      text-align: justify;
      margin-left: 80px;
      margin-right: 80px;
      font-size: 18px;
      line-height: 1.7em;
 }

 .container{
     margin-top: 100px;
 }
 .pro{
      margin-top: 150px;
      margin-left: -60px;
 }

 .one{
     font-size: 40px;
     color: rgb(67, 171, 206);
     text-align: center;



 }
 .two{
  font-size: 32px;
  color: black solid;
  margin-top: -20px;
  margin-left: 40px;
  margin-bottom: 10px;
 }

 .third{
     font-size: 20px;
     margin-left: 40px;
     text-align: justify;
 }


 .about1{

background-image: linear-gradient(
  130deg, #457fc1 0%, #2a19a7 89%);

position: relative;

content: "";
display: block;
width: 30%;
transform: rotation(50deg);

position: absolute;
left: 0%;
top: 0%;
height: 120%;
-webkit-transform: rotate(0deg);
transform: rotate(0deg);
width: 100%;
  height: 300px;
  border-radius: 10px;
  border-bottom: 50px solid rgb(23, 15, 243);
  left: 2%;
  right: 5%;




 }




.para01{
  margin-top: 350px;
}


.imageforside{

  height: 460px;
  width: 100%;
  border-radius: 100px 100px 300px 100px;



}

@media screen and (max-width: 1178px)and (min-width:10px) {

  .imageforside{

    width:100%px;
    height: 300px;

  }




}


.video1{
  width: 100%;
  height: 350px;
  margin-top: 60px;
}
